//https://www.youtube.com/watch?v=_ywVDQN16NQ

<div>
    <h2>What do you want to do?</h2>
    <ul>
        <li>
            <h3>Add new records</h3>
        </li>
        <li>
            <h3>Update existing records</h3>
        </li>
        <li>
            <h3>Add new and update existing records</h3>
        </li>
    </ul>
</div>


<div>
    <ul>
        <li>
            Match contact by [select field]
        </li>
    </ul>
</div>

<div>
    <ul>
        <li>
            <h3>Choose a character code for file</h3>
        </li>
        <li>
            <h3>Values separated by [Comma]</h3>
        </li>
    </ul>
</div>